/* Website Styles */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Navbar Color */
.navbar-color {
    background-color: #fbb812;
}

/* Navbar Font */
body {
    font-family: 'Roboto', sans-serif;
}

/*Carousel Sizing */
.carousel-item img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

/* Section 1 Styling */
.section-one-background-color {
    background-color: #fbb812;
}

/* Logo Styling */
.council-logo {
    background-color: black;
}

@media (max-width: 767px) {
    .col-sm-12.p-5 {
        padding: 2rem 1rem !important;
    }

    .col-sm-12 img {
        height: 250px !important;
    }
}